@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root{
    --fonte-titulo: 'big shoulders','cursive';
    --fonte-personalizada: 'teko','sans-serif';
    --cor01: #004CE6;
    --cor02: #4700E6;
    --cor03: #0106E6;
    --cor04: #0095E6;
    --cor05: #9200E6;
    --cor06: #4C4FE6;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #60aed8;
    color: black;
}
header{
    background-image: linear-gradient(to bottom, var(--cor04),var(--cor03), var(--cor05));
    color: white;
    min-height: 150px;
    padding-top: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
}
header a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596);
    font-weight: bolder;
}
header nav{
    text-align: center;
    padding: 9px;
    color: white;
    font-size: 1.2em;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.377);
}
nav a{
    text-decoration: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.548);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
}
nav a:hover{
    background-color: var(--cor03);
    color: var(--cor04);
}
header h1{
    font-family: var(--fonte-personalizada);
    margin-top: 40px;
    margin-bottom: -10px;
    font-size: 5.0em;
    font-weight: normal;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.699)
}
header p{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
    padding-top: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
main{
    margin: auto;
    margin-top: 3px;
    background-color: white;
    padding: 40px;
    min-width: 200px;
    max-width: 1000px;
}
main h2{
    background-image: linear-gradient(to right,#95daff8e,transparent);
    padding-top: 15px;
    font-family: var(--fonte-personalizada);
    font-size: 2em;
    font-weight: bold;
}
main p{
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}
aside {
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.356);
    list-style-position: inside;
    background-color:var(--cor04);
    min-width: 150px;
    max-width: 1300px;
}
aside h3{
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);
    font-family: var(--fonte-personalizada);
    background-image:linear-gradient(to right,var(--cor05),transparent);
    font-size: 2.5em;
}
aside > ol{
    min-width: 300px;
    max-width: 700px;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.63);
}
aside a{
    color: white;
    text-decoration: none;
}
aside a:hover{
    text-decoration: underline;
    color: #0106E6;
    background-color: #004CE6;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}